<div class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped entry-list">
                <thead>
                    <tr>
                        <th>{T:Key}</th>
                        <th>{T:Hits}</th>
                        <th>{T:Size}</th>
                        <th>{T:Last accessed at}</th>
                        <th>{T:Last modified at}</th>
                        <th>{T:Created at}</th>
                        <th>{T:Timeout}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="entry in entries" data-ng-click="entryDetails(entry)">
                        <td>{{entry.key}}</td>
                        <td>{{entry.nhits}}</td>
                        <td>{{entry.mem_size}}</td>
                        <td>{{entry.atime}}</td>
                        <td>{{entry.mtime}}</td>
                        <td>{{entry.ctime}}</td>
                        <td>{{entry.ttl}}</td>
                    </tr>
                </tbody>

            </table>


        </div>
    </div>
</div>

<script type="text/ng-template" id="entryDetailModal.html">
    <div class="modal-header">
        <h3>Entry details</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li><strong>{T:Key}</strong>: {{data.key}}</li>
            <li><strong>{T:Hits}</strong>: {{data.nhits}}</li>
            <li><strong>{T:Size}</strong>: {{data.mem_size}}</li>
            <li><strong>{T:Last accessed at}</strong>: {{data.atime}}</li>
            <li><strong>{T:Last modified at}</strong>: {{data.mtime}}</li>
            <li><strong>{T:Created at}</strong>: {{data.ctime}}</li>
            <li><strong>{T:Timeout}</strong>: {{data.ttl}}[s]</li>
        </ul>
        <div class="entry-data">{{entryValue.data}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="dropEntry(data)">Delete</button>
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>